
doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Dogs
        a(href="/update-cobj") Add to this table
        if dogsData.length > 0
            .cards
                each dog in dogsData
                    .card
                        h2.card__email #{dog.properties.name}
                        h2.card__email #{dog.properties.breed}
                        h2.card__email #{dog.properties.age}
        else
            p No custom objects found.
        .cards
//- doctype html
//- html(lang="en")
//-   head
//-     title Home Page | Integrating With HubSpot I Practicum
//-     link(rel="stylesheet", href="/css/style.css")
//-   body
//-     h1 Custom Objects List
//-     a(href="/update-cobj") Add to this table
//-     if customObjectData.length > 0
//-       table
//-         thead
//-           tr
//-             th Name
//-             th Breed
//-             th Age
//-         tbody
//-           each dog in customObjectData
//-             tr
//-               td= dog.properties.Name
//-               td= dog.properties["Dog Breed"]
//-               td= dog.properties.Age
//-     else
//-       p No custom objects found.
