doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Update Custom Object Data
    form(action="/update-cobj", method="POST")
      div
        label(for="name") Name:
        input(type="text", id="name", name="name", required=true)
      div
        label(for="breed") Breed:
        input(type="text", id="breed", name="breed", required=true)
      div
        label(for="age") Age:
        input(type="text", id="age", name="age", required=true)
      div
        input(type="submit", value="Submit")
    a(href="/") Return to the homepage
